.about,
.projects,
.skills {
  position: relative;
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  /* background: rgba(18, 25, 34); */
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* makes video fill area */
  z-index: -1; /* pushes it behind all content */
}

/* Everything on top of the video */
.menu,
.main {
  position: relative;
  z-index: 1;
}

/* Dark overlay for readability */
.about::before,
.projects::before,
.skills::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 25, 34, 0.9);
  z-index: 0; /* overlay is between the video and content */
}

.menu {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.logo {
  color: bisque;
  font-weight: bold;
  text-shadow: 0 0 10px black, 0 0 20px #fff;
  border-top: 0; /* no top border */
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 0;
  padding: 2px;
}

.links a {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease-out, text-shadow 0.3s ease-out,
    color 0.3s ease-out;
}

.links a:hover {
  color: bisque;
  transform: scale(1); /* visual expansion only */
  text-shadow: 0 0 10px bisque, 0 0 20px bisque; /* glow */
  position: relative; /* ensures hover overlaps */
  /* prevents being hidden by neighbors */
}

.a-active {
  color: bisque;
  transform: scale(1); /* visual expansion only */
  text-shadow: 0 0 10px bisque, 0 0 20px bisque; /* glow */
  position: relative;
}

.main {
  padding: 50px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0;
}

.about-main {
  margin-top: 50px;
}

.top-section {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.ann-picture img {
  border-radius: 0 40px;
  width: 90%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.desc {
  max-width: 500px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.highlight {
  color: bisque;
}

.contact {
  display: flex;
  gap: 20px;
  max-width: 600px;
  color: bisque;
  margin: 30px auto 50px auto;
  align-items: center;
}

.icons {
  color: bisque; /* optional */
}

.icons svg {
  font-size: 1.5rem;
}

.icons:hover {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive tweaks for small screens */
@media (max-width: 768px) {
  .top-section {
    flex-direction: column; /* stack vertically */
    gap: 50px;
  }

  .desc {
    text-align: justify;
  }

  .ann-picture img {
    width: 70%; /* slightly bigger on small screens */
    max-width: 400px;
  }
}
