/* ---------- GLOBAL LAYOUT ---------- */
.main {
  padding: 50px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0;
}

/* Top navigation menu */
.menu {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.logo {
  color: bisque;
  font-weight: bold;
  text-shadow: 0 0 10px black, 0 0 20px #fff;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2px;
}

/* Navigation links */
.links a {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  text-decoration: none;
  transition: transform 0.3s ease-out, text-shadow 0.3s ease-out,
    color 0.3s ease-out;
}

.links a:hover {
  color: bisque;
  text-shadow: 0 0 10px bisque, 0 0 20px bisque;
}

.a-active {
  color: bisque;
  text-shadow: 0 0 10px bisque, 0 0 20px bisque;
}

/* Full-page layout container */
.about,
.projects,
.skills {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
